{% extends 'base.html' %}

{% block head %}
<title>Чат с {{user.name}}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}


{% block body %}
<h2 style="position: absolute; top: 0%">{{ user.name }}</h2>
<div style="width: 510px; margin-top: 70px" class="chat-container" id="chat-container">
    <div id="messages">
        {% for message in messages %}
            {% if message.chat_id == user.id %}
                <div class="message sender">{{ message.message }}</div>
            {% else %}
                <div class="message">{{ message.message }}</div>
            {% endif %}
        {% endfor %}
    </div>

    <div style="width: 490px; text-align: center" class="message-box">
        <input style="width: 390px" type="text" class="message-input" id="message-input" placeholder="Type your message...">
        <button id="send" class="send-button" ForUserId="{{user.id}}">Send</button>
    </div>
</div>
<script>
    window.onload = function() {
        var chatContainer = document.getElementById("chat-container");
        chatContainer.scrollTop = chatContainer.scrollHeight;
    };
</script>

<script src="{{ url_for('static', filename='js/message.js') }}"></script>
<script src="{{ url_for('static', filename='js/checkMessage.js') }}"></script>
{% endblock %}

