{% extends 'base.html' %}

{% block head %}
<title>Главная</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block body %}
<h1>Hello, {{ username }}</h1>
<a href="/exit">Выйти из аккаунта</a>
<br>
<div class="container">
    {% for el in contacts %}
        <div class="user-div" link="{{ el[0] }}">

            <h1>Чат с</h1>
            <h1>{{ el[1] }}</h1>
        </div>

    {% endfor %}
</div>

<script src="{{ url_for('static', filename='js/findChat.js') }}"></script>
{% endblock %}
