{% extends 'base.html' %}

{% block head %}
<title>{{ user.name }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}


{% block body %}
<div class="container">
    <h1>{{ user.name }}</h1>
    <span id="message"></span>
    {% if added == True %}
    <input id='add-chat' type="button" value="Удалить чат" user-id="{{ user.id }}" do="remove">
    {% else %}
    <input id='add-chat' type="button" value="Добавить чат" user-id="{{ user.id }}" do="add">
    {% endif %}
</div>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}
